
td {
    border: 1px solid rgb(0, 0, 0);
    height: 140px;
    width: 140px;
    }

    
table{
    margin-left: 37%;
}

img{
    width: 100%;
    height: 100%;
}

p{
    margin-left: 36%;
    font-size: 60px;
    font-family: 'Big Shoulders Display', cursive;
}

a{
    margin-left: 33%;
    font-size: 100px;
    font-family: 'Pacifico', cursive;
    background: linear-gradient(to right, #e79797 0%, #df9c39 25%, #b7adf0 50%, #84cbdd 75%, #cd83f0 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h1{
    background-image: linear-gradient(to right, #383737, #000000 , #383737);
}

body{
    background-image: linear-gradient(to left, #4caae0, rgb(6, 99, 240));
}

button{
    
    display:none;
    padding: 20px 60px;
    margin-left: 44%;
    border: solid;
    background: rgba(rgb(34, 9, 255), 0);
    border-bottom: 1px solid;
    color: rgb(9, 4, 255);
    font-family: 'Reggae One', cursive;
    line-height: 1.4;
    text-decoration: none;
  }



.sbtn {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(8, 24, 247, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  } 
  
  .sbtn:hover {
    border: 1px solid;
    opacity: 0.7;
    transform: scale(1.2);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 2px 2px 2px #427388; 
  }

